.header {
  background: #4e2870;
  padding: 64px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
