.dateSelection {
  display: flex;
  flex-direction: column;
  position: relative;
}

.disabled {
  color: #e6e6e6;
}

.label {
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.dateButtons {
  display: flex;
  overflow-x: auto;
  margin-bottom: 10px;
  gap: 4px;
  align-items: stretch;
}
